

.header {
  background-color: black;

}

.precontainer{
  background-color: black;
  height: 50px;


}
.container {
  background-color: black;
  height: 50px;


}

.nav li {

  display:inline;
  color: #F2F0F5;
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
  margin:0px 5px 5px 150px;


}

p {

  color: white;


}

a  {
  float:right;
  color: white;
  font-size: 14;
  font-family: 'Droid Sans', sans-serif;
  text-align: right;


}

.container2 {
  background-color: #D4A190;

}

body {
   background-color: #6A8262;

}

div{
  background-color: white;
}

img.align-center {
  display:block;
  margin: 0px auto;

}
img.large {
  padding-left: 100px;
  width: 900px;
  height: 400px;

}
